x-base_service: &base_service
    ports:
      - "${WEBUI_PORT:-7860}:7860"
    volumes:
      - &v1 ./data:/data
      - &v2 ./output:/output
    stop_signal: SIGKILL
    tty: true
    deploy:
      resources:
        reservations:
          devices:
              - driver: nvidia
                device_ids: ['0']
                capabilities: [compute, utility]
name: webui-docker
services:
  download:
    image: simonmcnair/download:master
    profiles: ["download"]
    volumes:
      - *v1

  auto: &automatic
    <<: *base_service
    profiles: ["auto"]
    build: ./services/AUTOMATIC1111
    image: sd-auto:80
    environment:
      - CLI_ARGS=--allow-code --medvram --xformers --enable-insecure-extension-access --api

  auto_rtx: &automatic_rtx
    <<: *base_service
    profiles: ["auto_rtx"]
    build: 
      context: ./services/AUTOMATIC1111
      dockerfile: Dockerfile.rtx
    image: sd-auto_rtx:1
    environment:
      - CLI_ARGS=--allow-code --medvram --xformers --enable-insecure-extension-access --api

  auto-rocm:
    <<: *base_service
    profiles: ["auto-rocm"]
    build:
      context: ./services/AUTOMATIC1111
      dockerfile: Dockerfile.rocm
    devices:
      - "/dev/kfd"
      - "/dev/dri"
    deploy: {}
    environment:
      - CLI_ARGS=--allow-code --medvram --enable-insecure-extension-access --api

  reforge: &reforge
    <<: *base_service
    profiles: ["reforge"]
    build: ./services/reforge
    image: sd-reforge:80
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  forge: &forge
    <<: *base_service
    profiles: ["forge"]
    build: ./services/forge
    image: sd-forge:80
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  forge_rtx: &forge_rtx
    <<: *base_service
    profiles: ["forge_rtx"]
    build:
      context: ./services/forge
      dockerfile: Dockerfile.rtx
    image: sd-forge_rtx:2
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  auto-cpu:
    <<: *automatic
    profiles: ["auto-cpu"]
    deploy: {}
    environment:
      - CLI_ARGS=--no-half --precision full --allow-code --enable-insecure-extension-access --api

  comfy: &comfy
    <<: *base_service
    profiles: ["comfy"]
    build: ./services/comfy/
    image: sd-comfy:6
    environment:
      - CLI_ARGS=

  comfy-cpu:
    <<: *comfy
    profiles: ["comfy-cpu"]
    deploy: {}
    environment:
      - CLI_ARGS=--cpu

  fooocus: &fooocus
    <<: *base_service
    profiles: ["fooocus"]
    build: ./services/fooocus/
    image: sd-fooocus:3
    environment:
      - CLI_ARGS=

  auto_from_image: &automatic_from_image
    <<: *base_service
    profiles: ["auto_from_image"]
    image: simonmcnair/automatic1111:master
    environment:
      - CLI_ARGS=--allow-code --medvram --xformers --enable-insecure-extension-access --api

  auto_rtx_from_image: &automatic_rtx_from_image
    <<: *base_service
    profiles: ["auto_rtx_from_image"]
    image: simonmcnair/automatic1111_rtx:master
    environment:
      - CLI_ARGS=--allow-code --medvram --xformers --enable-insecure-extension-access --api

  auto-rocm_from_image: &auto-rocm_from_image
    <<: *base_service
    profiles: ["auto-rocm_from_image"]
    image: simonmcnair/automatic1111_rocm:master
    devices:
      - "/dev/kfd"
      - "/dev/dri"
    deploy: {}
    environment:
      - CLI_ARGS=--allow-code --medvram --enable-insecure-extension-access --api

  reforge_from_image: &reforge_from_image
    <<: *base_service
    profiles: ["reforge_from_image"]
    image: simonmcnair/reforge:master
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  reforge_rtx_from_image: &reforge_rtx_from_image
    <<: *base_service
    profiles: ["reforge_rtx_from_image"]
    image: simonmcnair/reforge_rtx:master
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  forge_from_image: &forge_from_image
    <<: *base_service
    profiles: ["forge_from_image"]
    image: simonmcnair/forge:master
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  forge_rtx_from_image: &forge_rtx_from_image
    <<: *base_service
    profiles: ["forge_rtx_from_image"]
    image: simonmcnair/forge_rtx:master
    environment:
      - CLI_ARGS=--allow-code --xformers --enable-insecure-extension-access --api --pin-shared-memory --cuda-malloc --cuda-stream

  auto-cpu_from_image: &auto-cpu_from_image
    <<: *automatic
    profiles: ["auto-cpu_from_image"]
    deploy: {}
    environment:
      - CLI_ARGS=--no-half --precision full --allow-code --enable-insecure-extension-access --api

  comfy_from_image: &comfy_from_image
    <<: *base_service
    profiles: ["comfy_from_image"]
    image: simonmcnair/comfy:master
    environment:
      - CLI_ARGS=

  comfy-cpu_from_image: &comfy-cpu_from_image
    <<: *comfy
    profiles: ["comfy-cpu_from_image"]
    deploy: {}
    environment:
      - CLI_ARGS=--cpu

  fooocus_from_image: &fooocus_from_image
    <<: *base_service
    profiles: ["fooocus_from_image"]
    image: simonmcnair/fooocus:master
    environment:
      - CLI_ARGS=

